{% macro payment_method_options(selected=None, name='payment_method', id=None, extra_attrs='', methods=None, labels=None, default=None) -%}
<select class="form-select" name="{{ name }}"{% if id %} id="{{ id }}"{% endif %} {{ extra_attrs }}>
  {% for m in methods %}
    {% if m == (selected or default) %}
      <option value="{{ m }}" selected>{{ labels.get(m, m) }}</option>
    {% else %}
      <option value="{{ m }}">{{ labels.get(m, m) }}</option>
    {% endif %}
  {% endfor %}
</select>
{%- endmacro %}
